$zoom: 1.44;
$primarycolor: #7044BD;
$btn-primary-bg: $primarycolor;
$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

.narrow {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.btn-info {
  background-color: $primarycolor;
}

.container {
}

.btn {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  font-size: 14px * $zoom;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  line-height: 16px * $zoom;
  padding: 10px * $zoom 20px * $zoom;
}

.btn-lg {
  padding: 12px 24px;
  font-size: 18px * $zoom;
  line-height: 1.33333 * $zoom;
}

section {
  padding: 100px 0;

  h1 {
    /* Что такое Экспресс-к: */
    font-family: $font-family-sans-serif;
    font-weight: 300;
    font-size: 52px;
    color: #353535;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
  }

  h2 {
    /* Твоя жизнь начинает : */
    font-family: $font-family-sans-serif;
    font-weight: 300;
    font-size: 20px * $zoom;
    color: #454545;
    line-height: 24px * $zoom;
  }

  .lead {
    text-align: center;
    margin-bottom: 50px;
    font-size: 22.5px;
    font-weight: 400;
  }

  h1 + .lead {
    margin-top: -20px;
  }

  p, td, li {
    font-size: 19px;
    line-height: 1.7;
    font-weight: normal;
  }
}

#front {
  background-image: url('/images/bg-color-paper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
  text-align: center;
  color: white;

  h1 {
    /* Наполни свою жизнь с: */
    font-family: $font-family-sans-serif;
    font-weight: 700;
    font-size: 36px * $zoom;
    color: #FFFFFF;
    line-height: 42px * $zoom;
  }

  .lead {
    /* поможем выбрать дело: */
    font-family: $font-family-sans-serif;
    font-weight: 300;
    font-size: 24px * $zoom;
    color: #FFFFFF;
    line-height: 28px * $zoom;
    margin-top: 20px * $zoom;
    margin-bottom: 50px * $zoom;
  }

  .btn + .btn {
    margin-left: 20px;
  }
}

#what {
  .row {
    margin-top: 50px;

    img {
      margin: 25px 0;
      width: 140px;
      height: 144px;
    }
  }
}

#numbers {
  background-image: url('/images/bg-color-paper.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .number {
    /* 12: */
    font-family: $font-family-sans-serif;
    font-weight: 400;
    font-size: 72px * $zoom;
    color: #FFFFFF;
    line-height: 85px * $zoom;
  }
  .text {
    /* лет опыта: */
    font-family: $font-family-sans-serif;
    font-weight: 300;
    font-size: 18px * $zoom;
    color: #FFFFFF;
    line-height: 21px * $zoom;
  }
}

#how {
  .item {
    margin-bottom: 75px;
    clear: both;
    min-height: 110px;

    .item-body {
      margin-left: 200px;
      padding-top: 1px;

      h2 {
        margin-top: 20px;
      }
    }

    img {
      float: left;
      width: 135px;
      height: 163px;
    }
  }
}

#get {
  padding-top: 0px;

  .box {
    /* card: */
    background: #FAFAFA;
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.5);
    border-radius: 2px;
    text-align: center;
    padding: 1px;
    margin: 20px;
    margin-top: 100px;

    img {
      margin-top: -100px;
      width: 141px;
      height: 144px;
    }

    h2 {
      /* Файл PDF с вопросами: */
      font-family: $font-family-sans-serif;
      font-weight: 300;
      font-size: 24px * $zoom;
      color: rgba(0,0,0,0.87);
      line-height: 34px * $zoom;
      margin: 50px 20px 75px 20px;
    }

    p {
      /* Ты сможешь скачать е: */
      font-family: $font-family-sans-serif;
      font-weight: 400;
      font-size: 14px * $zoom;
      color: #999999;
      line-height: 24px * $zoom;
    }
  }
}

#gives {
  td {
    vertical-align: center;
    height: 60px;
    padding: 0;
    margin-bottom: 10px;

    font-size: 22.5px;
  }

  td.img {
    img {
      width: 90px;
      height: 90px;
      margin: 15px;
    }
  }

  td.text {
    padding-left: 10px;
  }
}

#why {
  margin-top: 50px;
  background-color: #FAFAFA;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
  border-radius: 2px;
  padding: 0;
  background-image: url(/images/sailboat_in_the_sea-min-2x.jpg);
  background-size: auto 510px;
  background-position: top right 600px;
  background-repeat: no-repeat;

  h1 {
    text-align: left;
  }

  .text {
    padding: 50px;
    padding-left: 70px;
    width: 600px;
    float: right;
  }
}

.review {
  .quote {
    float: left;
    width: 54px;
    height: 46px;
  }

  p {
    margin-left: 87px;
  }
}

#advantages {
  img {
    width: 42px;
    height: 40px;
    margin: 25px 0;
  }
}

#who {
  .lead {
    margin-bottom: 10px;
  }
  .who-text {
    margin-top: 10px;
  }
  img.me {
    margin-top: 30px;
  }
}

#next {
  img {
    width: 96px;
    height: 98px;
    margin: 20px;
  }
}

#whom {
  background: #FAFAFA;

  img {
    width: 45px;
    height: 45px;
    margin: 20px;
  }
}

#bonus {
  background-image: url('/images/bg-color-paper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  .img {
    text-align: right;

    img {
      width: 77px;
      height: 134px;
      margin: 28px;
    }
  }

  h1, .lead {
    color: white;
    text-align: left;
  }
}

#timer {
  .numbers {
    font-family: $font-family-sans-serif;
    font-weight: 400;
    font-size: 72px * $zoom;
    line-height: 85px * $zoom;
    margin-bottom: 50px;
  }
}

#cta {
  background: #454545;

  h1 {
    font-family: $font-family-sans-serif;
    font-weight: 300;
    font-size: 24px * $zoom;
    color: #FFFFFF;
    line-height: 50px * $zoom;
    text-align: left;
  }

  table {
    margin: 0 20px;
  }
}

#footer {
  background: #000000;
  font-family: $font-family-sans-serif;
  font-weight: 400;
  font-size: 14px * $zoom;
  color: #A7A7A7;
  letter-spacing: 0.5px;
  line-height: 16px * $zoom;
  margin: 0;
  padding: 20px;
}

#buy {
  .modal-body {
    margin-bottom: 20px;

    .payment-option + .payment-option {
      border-top: solid #FAFAFA 1px;
      margin-top: 10px;
    }
  }
}
